<div class="registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h2>Sign up</h2>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autocomplete: "name", placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: false, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      <% if @minimum_password_length %>
        <br>
        <span class="password-hint">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
    </div>

    <div class="file-field">
      <span>Chose avatar picture: </span><br>
      <%= f.file_field :avatar %>
    </div>

    <div class="links">
      <div class="actions"><%= f.button "Sign up", class: "submit" %></div>
      <span id="link"><%= link_to "Log in", root_path, class: "redirect" %></span>
    </div>
  <% end %>
</div>
