<% user = @users.find_by(id: comment.user_id) %>
<div class="comment">

  <div class="head">
    <figure>
      <%= image_tag(user.avatar, size: "20x20" )%>
    </figure>
    <span class="username"><%= user.name %></span>
    <span class="time"><%= format_creation_time(comment.created_at) %></span>
  </div>

  <div class="comment-body">
    <%= comment.body %>
  </div>

  <div class="footer">
    <% if user_signed_in? %>
      <% if current_user.id == comment.user_id || current_user.admin?%>
        <%= link_to 'Destroy Comment', [comment.article, comment],
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</div>
