<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="body"><%= form.text_area :body %></div>
  <% if current_user.admin? %>
    <div class="privacy">
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
<% end %>

