
  <% @articles.each do |article| %>
    <% if !article.archived? || (user_signed_in? && current_user.admin?) %>
      <div class="article post-content background-style">
        <h2> <%= article.title %> </h2>
        <span class="body"> <%= fit_text(article.body) %> </span>
          <p><%= link_to "to discussion...", article_path(article) %></p>
        <hr>
        <div class="description">
          <p class="date"><%= format_time(article.created_at) %></p>
        </div>
      </div>
    <% end %>
  <% end %>


<% if user_signed_in? %>
    <button class="redirect">
      <%= link_to "New Article", new_article_path %>
    </button>
<% end %>
