<div class="search-container">
  <div class="search-form">
    <div>
      <%= search_form_for @search, url: pokemon_index_path do |f| %>
        <!-- Search if the name field contains... -->
        <%= f.search_field :name_cont, placeholder: "Enter pokemon name" %>
        <%= f.search_field :pokedex_id_cont, placeholder: "Enter pokemon id" %>
        <%= f.submit %>

      <% end %>
    </div>

    <div id="link">
      <span>Sort by:</span>
      <%= sort_link( @search, :name) %>
      <%= sort_link( @search, :pokedex_id) %>
    </div>

    <div id="link">
      <%= link_to "Clear", request.path %>
    </div>
  </div>
</div>

<div class="pokemon-container background-style">
  <% if @pokemon.empty? %>
    <div class="background-style">No results</div>
  <% end %>

  <div class="wrapper">
    <% @pokemon.each do |pokemon| %>
      <div class="pokemon-card">
        <figure class="sprite">
          <% pokemon.poke_sprites.each do |sprite|%>
            <%= image_tag sprite.front %>
          <% end %>
        </figure>

        <div class="id">
          <%= format_pokedex_id(pokemon.pokedex_id.to_s) %>
        </div>

        <div class="name">
          <%= link_to clean_name(pokemon.name), pokemon_path(pokemon), class: "link-style" %>
        </div>

        <div class="types">
          <% pokemon.poke_types.each do |type| %>
            <%= content_tag(:div, type.p_type.upcase ,class: "type #{type.p_type}" ) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
