<div class="search-container background-style">
  <div class="search-form">
    <%= form_with(url: '/pokemon', method: 'get', local: true) do %>
      <%= hinted_text_field_tag :textfield, params[:search], "Looking for someone?" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <% if @pokemon.empty? %>
    <div class="background-style">No results</div>
  <% end %>

  <div class="wrapper">
    <% @pokemon.each do |pokemon| %>
      <div class="pokemon-card">
        <figure class="pokemon-sprite">
          <% pokemon.poke_sprites.each do |sprite|%>
            <%= image_tag sprite.front %>
          <% end %>
        </figure>

        <div class="pokemon-id">
          <%= format_pokedex_id(pokemon.pokedex_id.to_s) %>
        </div>

        <div class="pokemon-name">
          <%= link_to upcase_first_letter(pokemon.name), pokemon_path(pokemon), class: "link-style" %>
        </div>

        <div class="pokemon-type">
          <% pokemon.poke_types.each do |type| %>
            <%= content_tag(:div, type.p_type.upcase ,class: "type #{type.p_type}" ) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= paginate @pokemon %>
  </div>
</div>
