<div class="search-container background-style">
  <div class="search-form">
    <%= search_form_for @search, url: pokemon_index_path do |f| %>
      <!-- Search if the name field contains... -->
      <%= f.label "Name"%>
      <%= f.search_field :name_cont %>

      <%= f.submit %>
      <%= link_to "Clear", request.path, class: "btn" %>
    <% end %>

    <%= sort_link( @search, :name) %>
  </div>

  <% if @pokemon.empty? %>
    <div class="background-style">No results</div>
  <% end %>

  <div class="wrapper">
    <% @pokemon.each do |pokemon| %>
      <div class="pokemon-card">
        <figure class="pokemon-sprite">
          <% pokemon.poke_sprites.each do |sprite|%>
            <%= image_tag sprite.front %>
          <% end %>
        </figure>

        <div class="pokemon-id">
          <%= format_pokedex_id(pokemon.pokedex_id.to_s) %>
        </div>

        <div class="pokemon-name">
          <%= link_to pokemon.name.capitalize, pokemon_path(pokemon), class: "link-style" %>
        </div>

        <div class="pokemon-type">
          <% pokemon.poke_types.each do |type| %>
            <%= content_tag(:div, type.p_type.upcase ,class: "type #{type.p_type}" ) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
