<!DOCTYPE html>
<html>
  <head>
    <title>Trainee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/partials/header" %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <div class="content">
        <%= yield %>
      </div>

      <% unless controller_name == "registrations" || controller_name == "sessions" ||
           controller_name == "articles" && (action_name == "new" || action_name == "edit")%>
        <sidebar class="sidebar">
          <% unless user_signed_in?%>
            <%= render "devise/sessions/new" %>
          <% end %>
          <% if controller_name == "articles" && (action_name == "index" || action_name == "show")%>
            <%= render "articles/most_viewed" %>
          <% end %>
          <%if controller_name == "pokemon" %>
            <%= render "pokemon/sample" %>
          <% end %>
        </sidebar>
      <% end %>

    </main>
  </body>
</html>